@import "fun.scss";
@import "Arts1.scss";
#PortfolioFour{
  .container-fluid {
background-color: #73D5F0;
height: 105px;
h2{
padding-top: 15px;
font-family: 'Bubblegum Sans', cursive;
font-weight: normal;
}
h6{
float: right;
padding-top:35px;
font-family: 'Bubblegum Sans', cursive;
font-weight: normal;
}

}
}

  
 
// ----------------------------------------------------------------------------------------------------------------buttons
#HexagonToggle{
   background-image: url('../images/footer_bg.png');
   background-color:#F0F3F3;
   height: auto;
   .button1{
    border:none;
    width: 200px;
    height: 60px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
background-color:#E6C262;
box-shadow:0px 10px 5px #888888;
   }
   .button1:hover{
    background-color:yellow;
    transition: 1s;
    
   } 

      .button2{
    border:none;
    width: 200px;
    height: 60px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
background-color:#7131AB;
box-shadow:0px 10px 5px #888888;
   }
      .button2:hover{
    background-color:#FEA59D;
    transition: 1s;
   } 
         .button3{
    border:none;
    width: 200px;
    height: 60px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
background-color:#5D7424;
box-shadow:0px 10px 5px #888888;
   }
      .button3:hover{
    background-color:#45CA97;
    transition: 1s;
   } 
}
   
      
     
     
    

  