/* the slider */
.slider {
  position: relative; /* for positioning slider controls relative to the slider */
  overflow: hidden; /* hides the content that is out of view */
}

.slider > * {
  font-size: 0;  /* eliminates pesky whitespace issues */
}

.slider .items-wrap {
  width: 100%; /* fill slider */
  padding: 0; /* no padding between the wrap and its items */
  white-space: nowrap; /* elements that overflow will not wrap to new line */
  
  /* styling */
  transition: margin-left 0.2s; /* transition speed when the item wrap is slided */
}

/* making the list item inline-block. Default is block, which causes the list items to take up the whole line, thereby forcing the next element to wrap around */
.slider .items-wrap .item {
  display: inline-block;
}

.slider .slider-controls .prev-control,
.slider .slider-controls .next-control {
  width: 30px;
  height: 100%; /* fill slider height */
  position: absolute;
  
  cursor: pointer; /* sets the cursor to a hand pointer */
  z-index: 999; /* making it float above the slider */

  /* prevents selection of element */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none; /* Opera */
  user-select: none; /* General */

  /* for style */
  opacity: 0.3;
  transition: opacity 0.5s;

  /* position the background image */
  padding: 0 5px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-color: white;
}
.slider:hover .slider-controls .prev-control,
.slider:hover .slider-controls .next-control {
  opacity: 0.6;
}
.slider .slider-controls .prev-control:hover,
.slider .slider-controls .next-control:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}
.slider .slider-controls .prev-control:active,
.slider .slider-controls .next-control:active{
  opacity: 1;
}
.slider .slider-controls .prev-control {
  top: 0;
  left: 0;
  background-image: url('http://cdn.flaticon.com/png/256/48358.png');
}
.slider .slider-controls .next-control {
  top: 0;
  right: 0;
  background-image: url('http://cdn.flaticon.com/png/256/48320.png');
}

.progress-control {
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
  height: 50px;
  display: inline-block;
  background-color: red;
}
.item img{
	margin-right: 20px;
}
/*Debug*/
.slider .items-wrap img {
  width: 300px;
  height: 150px;
}